body, html{
    margin: 0;
    padding: 0;
}

*{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
}
.parte_de_cima{
    display: flex;
    width: 100%;
    justify-content: center;
    
    align-items: center;
    
}
#link:hover{
    animation-name: anima;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#entrar-em-contato:hover{
    animation-name: anima;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
a#infos:hover{
    animation-name: anima;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
a#infos{
    background-color: red;
}
img{
    max-width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.container{
   max-width: 1000px;
   margin: auto;
   font-family: "Poppins", sans-serif;
   
   
}
h1, h3{
    font-size:20px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    cursor: default;

}
.card-imoveis{
    width: 31.33%;
}
h2, p{
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: default;
}
h1{
    margin-top: 100px;
    font-weight: 600;
    cursor: default;
    font-size: 25px;
}
h3{
    margin-top: 15px;
    font-weight: 300;
    font-size: 15px;
    cursor: default;
}
#imoveis{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 15px;
    text-align: center;
    cursor: default;
}

p{
    width: 90%;
    color: #666666;
    font-weight: 350;


}
.icon{
    position: fixed;
    bottom: 60px;
    right: 30px;
    font-size: 30px;
    background-color: #01e675;
    color: #000000;
    border-radius: 50%;
    padding: 3px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    
}
.icon .fab{
    padding-top: 7px;
}
.icon:hover{
    background-color: #ffffff;
    color: #029e3b;
    font-weight: 900;
    box-shadow: 2px 2px 20px #5fe690;
}
#Direitos-reservados{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#imoveis > div a{
    background-color: #029e3b;
    color: white;
    display: flex;
    margin: 9px 15px;
    border-radius: 10px;
    justify-content: center;
    
}
nav{
    display: flex;
    justify-content: center;
    background-repeat: repeat;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    

}
a
li a{
    padding: 100px 0px 0px 800px;
    list-style: none;
    text-decoration: none;

}
.img-principal{
    width: 100%;
    height: 100%;
    size: 100px;
    display: flex;
    border-radius: 30px;
    
}
section .img-principal{
    display: flex;
    justify-content: center;
}
section #parte_de_cima{
    display: flex;
    justify-content: center;
}
.png-logo{
    width: 300px;
    height: 300px;
    background-color: transparent;
}
.footer{
    display: flex;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-weight: 100;
    background-repeat: no-repeat;
    background-image: url(/imgs/Logo-Mockup-on-panel-wall.png);
}
header{
    background-image: url(/imgs/Logo-Mockup-on-panel-wall.png);
    display: flex;
    align-items: center;
    justify-content: space-around;

}
span#burguer{
    color: rgb(255, 255, 255);
    display: none;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: transparent;

}
span#burguer:hover{
    color:#03A300
}
main .rodape__{
    color: #fff;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 1.8rem;
    padding: 50px;
}
menu{
    display: none;
}
#rodape{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 50px;
    color: white;
    font-family: "Poppins", sans-serif;
    background-image: url(/imgs/Logo-Mockup-on-panel-wall.png);
}
.rodape__{
    padding: 0px 300px 0px 0px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
li{
    display: block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
}
h2{
    font-weight: 300;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
}
@keyframes anima {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
    }
#imoveis img{
    cursor: zoom-in;
}
@media screen and (max-width:1200px){
    #imoveis{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            


    }
    .card-imoveis{
        width: 100%;
        

    }
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .img-principal{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    #rodape{
        display: none;
    }
    .png-logo{
        width: 200px;
        height: 200px;
        display: flex;
    }
    .eu-quero-um-imovel{
        display: none;
    }
    .parte_de_cima ul{
        display: flex;
        font-weight: 200;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0px 0px 70px;
    }
    section .parte_de_cima{
        justify-content: space-between;
        display: flex;
    }
    ul{
        display: none;
        
    }
    header{
        display: flex;
        justify-content: center;
        padding: 0px 0px 0px 0px;
    }
    span#burguer{
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 150px;
        color: rgb(255, 255, 255)
    }
    
}
    


